.card{
    box-shadow: 0px 1px 3px 1px rgb(0 0 0 / 20%);
 }
 .card .card-header{
     position: relative;
 }
 .card .card-header .title{
     position: absolute;
     bottom:0;
     background-color: rgba(0,0,0,0.7);
     width: 100%;
     color:#fff;
     padding: 8px;
 }
 .card .card-header .image{
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     overflow: hidden;
     max-height: 300px;
 }
 .card .card-header .image img{
     width: 100%;
     object-fit: cover;
     
 }
 .card .card-body{
     padding:24px 32px;
 }
 .card .card-body .author{
     font-size: 22;
     line-height: 2rem;
     margin-top: 0;
     margin-bottom: 15px;
     text-align: left;
     font-weight: 700;
 }
 .card .card-body .synopsis{
     text-align: left;
     padding: 0;
     margin-bottom: 0;
 }
 .card .card-body .button{
     margin-top: 32px;
 }