 .card{
    box-shadow: 0px 1px 3px 1px rgb(0 0 0 / 20%);
    padding:16px;
    background: #fff;
    border-radius: 8px;
 }

 .card h3{
    margin-top: 0;
 }

 .card form input,
 .card form textarea {
    margin-bottom: 16px;
    font-weight: 400;
 }